<!DOCTYPE HTML>
<html ng-app="userCollector">
    <head>
        <title>Collect Data</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css">        
    </head>
    <body>
        <div class="container" ng-controller="CollectController as ctrl">
            <div class="form-group">
                <input type="text" ng-model="ctrl.user" placeholder="User ID" required>
                <button type="submit" class="btn btn-primary" ng-click="ctrl.collect()" ng-disabled="ctrl.loading">Collect</button> 
            </div>
            <div ng-show="ctrl.done">
                <h3>Collected and save to DB the following data:</h3>
                <div ng-repeat="tweet in ctrl.tweets">
                    <p>Tweet {{tweet.id}} - created at {{tweet.created_at}}</p>
                    <p>{{tweet.text}}</p>
                    <hr>
                </div>
                <h3>Frequency</h3>
                <div ng-repeat="word in ctrl.words">
                    {{word[0]}} : {{word[1]}}
                </div>
            </div>
        </div>

        

        <script src="/js/jquery-1.11.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/angular.min.js"></script>
        <script type="text/javascript" src="/js/ngControllerCollect.js"></script>
    </body>
</html>