<!DOCTYPE HTML>
<html ng-app="userCollector">
    <head>
        <title>Collect Data</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css">        
    </head>
    <body>
        <div class="container" ng-controller="TestController as ctrl">
            <div class="form-group">
                <input type="text" ng-model="ctrl.user" placeholder="User ID" required>
                <br>
                <textarea ng-model="ctrl.tweet" placeholder="Insert tweet text"></textarea>
                <br>
                <button type="submit" class="btn btn-primary" ng-click="ctrl.send()" ng-disabled="ctrl.loading">Send</button> 
            </div>
            <div ng-show="ctrl.done">
                <h3>Response:</h3>
                {{ctrl.response}}
            </div>
        </div>

        

        <script src="/js/jquery-1.11.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/angular.min.js"></script>
        <script type="text/javascript" src="/js/ngControllerTest.js"></script>
    </body>
</html>